<header id="uw-header">
  <img src="/uw-text.png" alt="UWSSA text">
  <nav id="waterloo-nav">
    <ul>
      <li><%= link_to "Home", uw_home_path %></li>
      <li><%= link_to "About", uw_about_path %></li>
      <li><%= link_to "Constitution", uw_constitution_path %></li>
      <li><a href="https://www.gofundme.com/uw-serbian-student-association">Donate</a></li>
      <li>
        <a href="mailto:ssa@clubs.feds.ca">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/groups/149628768878448/">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </li>
      <li><%= link_to "Laurier SSA", wlu_home_path %></li>
    </ul>
  </nav>
  <img src="/fedslogo.png" alt="The University of Waterloo's federation of students logo.">
</header>
