<%= render "header" %>
<article id="uw-body">
  <img src="/blackserbianeagle.png" alt="serbian coat of arms as the background">
  <h1>About The Executives</h1>

  <section class="description">
    <h2>Milana Krajisnik, <small>Club President</small></h2>
    <p>Milana is the president of the club. She is going into her second year of
       honours science.</p>
    <ul>
      <li>She makes sure that the UWSSA operates
       according to the guidelines of the constitution</li>
      <li>She also makes sure that club meetings follow club guidelines</li>
      <li>She ensures that the club works towards its
      objectives as agreed upon by the general membership</li>
      <li>She informs members
      of the club of upcoming events and meeting/gatherings on social media</li>
    </ul>
  </section>

  <section class="description">
    <h2>Simonida Gnjatic, <small>Club Co-President</small></h2>
    <p>Simonida is one of the co-presidents of the club. She is entering her
       third year in Honours Science. She works very closely with Milana to make
       sure everything runs smoothly, taking over some roles of the president if
       needed. A few fun facts about her: Her father is from Bijeljina, Bosnia and her mother is
       from Gornji Milanovac, Serbia. On her spare time she likes to travel,
       play scrabble and eat pasta!</p>
  </section>

  <section class="description">
    <h2>Marijana Svrdlin, <small>Club Co-President</small></h2>
    <p>Marijana is also a co-president of the club. She works very closely with
       Simonida and Milana on club matters. #FIX ADD DESCRIPTION</p>
  </section>

  <section class="description">
    <h2>Lana Boskovic, <small>Secretary</small></h2>
    <p>The Secretary ensures that:</p>
    <ul>
    	<li>Records of what the group has done are maintained, distributed, and are accessible to all the members</li>
    	<li>Meeting minutes/notes are recorded and made available to all voting members</li>
    	<li>All club correspondence is monitored and brought to the attention of the appropriate person(s)</li>
    	<li>The duties of the President are undertaken in his/her absence; and is a signing authority</li>
    </ul>
    <p>#FIX ADD DESCRIPTION</p>
  </section>

  <section class="description">
    <h2>Savo Krajisnik, <small>Treasurer</small></h2>
    <p>The Treasurer ensures that:</p>
    <ul>
    	<li>The club’s Feds bank account and all financial transactions for the club are monitored and verified</li>
    	<li>All club revenues are collected, deposited into the club’s Feds bank account, and reconciled correctly and within a timely manner</li>
    	<li>Club cheque requests are submitted correctly and in a timely manner; and is a signing authority</li>
    </ul>
    <p>#FIX ADD DESCRIPTION</p>
  </section>

  <section class="description">
    <h2>Jovan Lisulov, <small>Event Planner</small></h2>
    <p>Jovan is one of the few event planners in the club. He is in charge of:</p>
    <ul>
      <li>Organizing all events hosted by the club</li>
      <li>Making sure the events run as planned</li>
      <li>Book event locations and handle food &amp; entertainment for the events</li>
    </ul>
    <p>#FIX ADD DESCRIPTION</p>
  </section>

  <section class="description">
    <h2>Jovana Zubic, <small>Event Planner</small></h2>
    <p>Jovana works along with Jovan to organize events that will be hosted by the UWSSA. #FIX ADD DESCRIPTION</p>
  </section>

  <section class="description">
    <h2>Neda Jovanovic, <small>Event Planner</small></h2>
    <p>Neda works with the other two event planners with UWSSA event planning. #FIX ADD DESCRIPTION</p>
  </section>

  <section class="description">
    <h2>Olivera Kralj, <small>Marketing</small></h2>
    <p>Olivera is the head of marketing for the club. She is in charge of:
    <ul>
      <li>Designing banners/posters</li>
      <li>Placing advertisements around the school when need be</li>
      <li>Also advertises on the club's website and the club's social media</li>
    </ul>
    <p>#FIX ADD DESCRIPTION</p>
  </section>

  <section class="description">
    <h2>Ilija Milisav, <small>Lead Web Developer</small></h2>
    <p>Ilija is the lead developer of this site. He is responsible for:</p>
    <ul>
      <li>Maintaining the website to be up to standards with the student
          governing body and with the World Wide Web Consortium.</li>
      <li>Helps out Olivera with various marketing tasks, when need be</li>
      <li>Communicates with Wilfrid Laurier's Serbian Student Club as well, to
          allow for both clubs to work together</li>
    </ul>
    <p>He is currently studying Computer Science at Laurier. If he's not busy
       with school or developing, he loves to go jogging, hang out with his
       friends and read.</p>
  </section>
</article>
