<%= render "header" %>
<article id="uw-body">
  <img src="/blackserbianeagle.png" alt="serbian coat of arms as the background">
  <h1>The Constitution</h1>

  <section class="description-uw">
    <h2>Club Name</h2>
    <p>The name of the club will be Serbian Student Association. We are not agent
       or representative of the Federation Of Students (Feds), and our views and
       actions in no way represent the Feds.

    <h2>Governance</h2>
    <p>The club will uphold the values, mission, and mandate of both the University
       of Waterloo (UW) and Feds through following the directives outlined in the
       Feds Club Manual, all Feds By-Laws, Policies, and Procedures, as well as all
       policies and procedures outlined by the UW Secretariat. Furthermore, the
       club will abide by all laws of the Region of Waterloo, Province of Ontario
       and Government of Canada. All club matters will ultimately be governed by
       the Feds Internal Administration Committee (IAC), by virtue of the office
       of the Feds Vice President Internal, via the Clubs Manager and Clubs Manager
       Delegate.</p>

     <h2>Purpose</h2>
     <p>The purpose of the club is to gather University of Waterloo students,
       staff, faculty and members of the UW community at large to promote the
       Serbian culture and encourage social interaction between all students of interest.
       Club events, activities, and/or initatives will include holding potential
       seminars where guest speakers will come in. In addition, there will be
       opportunity for undergraduate students to network and meet other current
       students, to become well known amongst their peers. Social events will be
       held for the purpose of meeting other people with common interests and goals.</p>

     <h2>Membership Structure</h2>
     <p>The club will be fully inclusive and welcoming to both its current and
        potential membership. New membership is welcome and accepted at any time
        during a club’s active term. Eligible club members may be current: Feds
        Members, as outlined by the Feds By-Laws; UW graduate students; UW staff
        or faculty; and/or members of the UW community at large, as defined in
        the Clubs Manual. Only current UW students (graduate or undergraduate)
        may hold voting membership within the club. UW Staff, faculty, and members
        of the UW community at large may hold non-voting membership within the
        club. (If Applicable) UW undergrad students who are eligible to obtain
        voting membership in the club who do not wish to pay the club membership
        fee at the time of joining may hold non-voting membership within the club.
        Voting membership can be obtained for said members by paying the membership fee.
        At least two thirds of the club’s membership must be current UW students
        (graduate or undergraduate).</p>

      <h2>Membership Fee</h2>
      <p>Club membership is free.</p>

      <h2>Executive Officers</h2>
      <p>The majority of executives will be current UW students (graduate or undergraduate).
        The club president will be a current UW undergraduate student. All club
        executives will be elected, not hired or appointed. The term of office
        for all executive positions is three consecutive academic terms, as outlined
        by the UW Registrar’s Office. All club decisions will be determined by
        executive vote, as no executive officer (not even the President) holds
        decision making power for the collective.</p>

      <div class="section-uw">
        <h3>The President ensures that:</h3>
        <ul>
          <li>The club operates according to the guidelines of its constitution
            and some agreed upon guidelines for running a meeting, such as Robert’s Rules of Order</li>
          <li>The club works towards its objectives as agreed upon by the membership</li>
          <li>The next President is trained</li>
        </ul>

        <h4>Additional responsibilites:</h4>
        <ul>
          <li>Informs members of the club of upcoming meetings and gatherings on
            the Facebook page and ensures for a reasonable time that works for
            most people</li>
          <li>The President is a signing authority</li>
        </ul>
      </div>

      <div class="section-uw">
        <h3>The Secretary ensures that:</h3>
        <ul>
          <li>Records of what the group has done are maintained, distributed, and
            are accessible to all the members</li>
          <li>Meeting minutes/notes are recorded and made available to all voting members</li>
          <li>All club correspondence is monitored and brought to the attention of
            the appropriate person(s)</li>
          <li>The duties of the President are undertaken in his/her absence</li>
          <li>The next Secretary is trained</li>
        </ul>

        <h4>Additional responsibilites: The Secretary is a signing authority</h4>
      </div>

      <div class="section-uw">
        <h3>The Treasurer ensures that:</h3>
        <ul>
          <li>The club’s Feds bank account and all financial transactions for the
            club are monitored and verified</li>
          <li>All club revenues are collected, deposited into the club’s Feds bank
            account, and reconciled correctly and within a timely manner</li>
          <li>Club cheque requests are submitted correctly and in a timely manner</li>
          <li>The next Treasurer is trained</li>
        </ul>

        <h4>Additional responsibilites: The Treasurer is a signing authority.</h4>
      </div>

      <p>It is important to assure that the person with the most information
        and/or knowledge in the club is not the full-time chairperson. Therefore,
        the club will occasionally rotate the role of chairperson among voting members.</p>

      <h2>Meetings</h2>
      <h3>There are two types of meetings:</h3>
      <div class="section-uw">
        <h3>General Meetings</h3>
        <p>The club will hold bi-weekly general meetings. Quorum for general meetings
          will be 15 voting members of 20% of voting membership (whichever is more).</p>
      </div>

      <div class="section-uw">
        <h3>Executive Meetings</h3>
        <p>The club will hold weekly executive meetings. Quorum for executive
          meetings will be 2 executives or at least 51% of the executive body
          (whichever is more).</p>
      </div>

      <p>The first meetings (both general and executive) of the following term
        will be arranged by the outgoing executive. At said meetings, subsequent
        meeting dates and locations will be set. Meeting dates and times will be
        forwarded to voting members by:</p>

      <ul>
        <li>E-mail</li>
        <li>Facebook</li>
        <li>Website</li>
      </ul>

      <p>Emergency meetings can be called by any executive via:</p>

      <ul>
        <li>E-mail</li>
        <li>Facebook</li>
        <li>Website</li>
      </ul>

      <p>and must sent to the appropriate members at least 48 hours prior to the meeting time.</p>

      <h2>Election Process</h2>
      <p>Elections shall take place at the end of each term for the following
        academic term. Only University of Waterloo students who are members of
        the club can vote. Club members must be notified, by email, two weeks in
        advance of the meeting where executive elections will take place. The term
        of office shall be for one term. An executive can only hold office
        (any position) for a total of up to three terms.</p>

      <p>Nominations for executives can be made from any club member. The majority
        of executives must be undergraduate University of Waterloo students.
        The successful candidate will be the one with the most votes. In the
        case of a tie, a re-vote will take place until the tie is broken.</p>

      <h2>Impeachment and Disciplinary Procedures</h2>
      <p>A movement to impeach an executive officer may be made by any executive
        officer or by petition of at least five voting members. When the motion
        is made the Clubs Manager will be informed. An emergency general meeting
        will be called as soon as is reasonably possible. No club funds will be
        spent until the issue is resolved.</p>

      <p>At the impeachment meeting, the individual(s) who initiated the process
        will state their case. Afterwards, the officer(s) under impeachment will
        have an opportunity to defend their position(s) on the matter.</p>

      <p>There will then be a question and answer period followed by the selection
        process for a Chief Returning Officer (CRO) who will oversee the voting
        process to ensure the decision is fair and democratic. Any executive officer
        who is neither the initiator nor subject of the impeachment may volunteer as CRO.
        If there is no such officer, then any voting member of the club present
        at the meeting may volunteer. If there are multiple volunteers, then the
        CRO will be selected based on a simple majority vote cast by secret ballot
        and tallied publically by the chairperson of the meeting. If there is no such
        volunteer for CRO, then the meeting will be at a standstill until either
        an eligible executive officer or voting member volunteers.</p>

      <p>The vote will be by a “YES/NO” secret ballot, tallied publically by the CRO.
        If at least two thirds of the votes are for impeachment, then said officer
        will immediately be stripped of their position. The remaining executive
        may choose to call an immediate by-election to replace the newly vacant
        executive officer position.</p>

      <h2>Conflict of Interest</h2>
      <p>A claim against any executive officer or club member regarding a potential
        conflict of interest can be made by any executive officer or by petition
        of at least five voting members. If such a claim arises, then said individual(s)
        under suspicion have the opportunity to remove them self (or themselves)
        from said potential conflict without acknowledging intention of wrongdoing.
        In the event the claim is contested, then the Clubs Manager will be informed
        and an emergency executive meeting will be called to determine the validity
        of the claim. Executive officers who have a claim against them cannot vote
        to determine the validity of said claim. If executive quorum is not possible
        due to the removal of said vote(s), then an emergency general meeting will
        be called and the same proceedings described for impeachment will be used
        to determine the validity of the claim.</p>

      <p>If the claim is validated and there is suspicion of intentional wrongdoing,
        an immediate impeachment proceeding may be called by any executive officer
        or by petition of at least five voting members, of whom are not named in
        the claim. If it is determined that a club member is involved in
        intentional wrongdoing, the impeachment proceeding will be called to
        determine said member’s club status.</p>

      <h2>Amendments</h2>
      <p>Constitutional amendments may be proposed by any executive officer or
        by petition of at least five voting members. The amendment will then be
        voted on by referendum. The voting procedure will be the same as for the
        impeachment process. If the vote passes, the amendment and the vote will
        be forwarded to the Clubs Manager for final approval from IAC. If IAC
        approves, then the constitution will be amended and any changes will be
        inserted into the constitution.</p>

      <p>A motion to officially close the club will follow the same procedure as
        a constitutional amendment. If such a motion passes, then the club will
        be purged from the clubs system.</p>

      <h2>Affiliations</h2>
      <p>No organization(s) is/are currently affiliated with this club.</p>
  </section>
</article>
