<%= render "header" %>
<article id="uw-body">
  <img src="/blackserbianeagle.png" alt="serbian coat of arms as the background">
  <h1>Welcome to the University of Waterloo Serbian Student Association!</h1>
  <div id="uw-feeds-main-container">
    <section class="news-feed uw-news-feed">
      <h2>News</h2>
      <article class="post uw-post">
        <div class="post-intro uw-post-intro">
          <h3>Great News!!</h3>
          <h3>October 20, 2017</h3>
        </div>
        <div class="post-body uw-post-body">
            <p>The Embassy of the Republic of Serbia, in Ottawa, has some exciting news for us all.</p>
            <p>A Serbian Academic Network in Canada has officially started up!
                Becoming a member of this wonderful group will come with many
                benefits. Networking with other students, researchers, professors,
                doctors, and other professionals is a great opportunity for building
                connections. Ideally, the goal will be to unite the relationships within
                these groups between Canada and Serbia.</p>
            <p>Milan Tepic has been appointed the position of a secretary for
                the Serbian Academic Network in Canada and can be contacted
                through: serbiacademicnetcan@gmail.com Anybody willing to provide
                their email in effort to strengthen this network is kindly asked
                to send in an email expressing their interest in being a member.</p>
        </div>
        <div class="post-footer uw-post-footer">
          <p>Milana Krajisnik, Club President</p>
        </div>
      </article>

      <article class="post uw-post">
        <div class="post-intro uw-post-intro">
          <h3>Greetings!</h3>
          <h3>September 14, 2017</h3>
        </div>
        <div class="post-body uw-post-body">
          <p>Welcome to the University of Waterloo Serbian Club's website! Here you
             will find lots of information on meetings, events, club members,
             special offers and more! We look forward to a great year with everyone!</p>
        </div>
        <div class="post-footer uw-post-footer">
          <p>Ilija Milisav, Lead Web Developer</p>
        </div>
      </article>
    </section>

    <aside class="event-feed uw-event-feed">
      <div id="event-feed-events">
        <h2>Upcoming Events</h2>
        <article class="event uw-event">
          <p>No upcoming events</p>
        </article>
      </div>

      <div id="event-feed-mission">
        <h2>Our Mission</h2>
        <p>UWSSA's mission is to promote the Serbian culture to the University of
           Waterloo students, staff, faculty and members of the UW community at large.</p>
        <p>We will do this by providing many opportunities for social interaction between
           the university community and the club such as social events, guest speakers,
           activities and/or initatives.</p>
        <p>The most important is to allow students to create strong, long-lasting friendships
           with people of similar interests.</p>
      </div>
    </aside>
  </div>
</article>
