<article id="core">
  
  <a href="/wlu/home">
    <section id="laurier-section">
      <img src="laurier.png" alt="Logo for the laurier side.">
    </section>
  </a>

  <a href="/uw/home">
    <section id="waterloo-section">
      <img src="waterloo.png" alt="Logo for the waterloo side.">
    </section>
  </a>

</article>
