// Place all the styles related to the Core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black:  #000000;
$purple: #330072;
$yellow: #FFC300;
$white:  #FFFFFF;

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  header {
    position: relative;
    border-bottom: solid lightgrey 1px;

    h1, h2 {
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-weight: 300;
      text-align: center;
    }
  }

  #core {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    section {
      height: 100%;
      width: 50vw;

      a {
        color: $yellow;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        text-decoration: none;
      }
    }

    #waterloo-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 50vw;
      }
    }

    #laurier-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: solid lightgrey 1px;
    }
  }
}

#core-container {
  height: 100vh;
}

.news-feed {
  border-radius: 8px;
  height: 100%;
  width: 70%;
  margin-left: 20px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;

  h2, h3 {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  }

  h2 {
    font-weight: 300;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom: solid black 1px;
  }

  h3 {
    font-weight: 500;
    margin: 0;
  }

  .post {
    padding: 10px;
    border-bottom: solid black 1px;

    &:last-of-type {
      border: none;
    }
  }

  .post-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3:last-child {
      font-weight: 300;
    }
  }

  .post-footer {
    text-align: right;

    p {
      margin: 0;
    }
  }

}

.event-feed {
  border-radius: 8px;
  margin: 0 20px;
  width: 30%;

  h2{
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  p {
    text-align: center;
    font-weight: 300;
  }

  #event-feed-events {
    p {
      font-size: 32px;
      font-weight: 500;
    }
  }

  #event-feed-mission {
    padding: 10px;

    p {
      text-align: left;
    }
  }
}
