// Place all the styles related to the Core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black:  #000000;
$purple: #330072;
$yellow: #FFC300;
$white:  #FFFFFF;

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  header {
    position: relative;
    border-bottom: solid lightgrey 1px;

    h1, h2 {
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-weight: 300;
      text-align: center;
    }
  }

  #core {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    section {
      height: 100%;
      width: 50vw;

      a {
        color: $yellow;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        text-decoration: none;
      }
    }

    #waterloo-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 50vw;
      }
    }

    #laurier-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: solid lightgrey 1px;
    }
  }
}

#core-container {
  height: 100vh;
}
