// Place all the styles related to the LaurierCore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$purple: #330072;
$lightpurple: #9A6DD2;
$yellow: #FFCC00;
$white: #FFFFFF;

#wlu-body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;

  h1 {
    margin-left: 20px;
    font-weight: 300;
  }

  img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-202px, -126px);
    z-index: -1;
  }

}

#wlu-header {
  background-color: $purple;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;

  img {
    padding: 10px 20px;
  }

  img:last-of-type {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

#laurier-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    display: inline-block;
    text-align: center;
  }

  li:hover {
    background-color: $yellow;

    a {
      color: $purple;
    }
  }

  a {
    color: $yellow;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.section-wlu {
  margin: auto 20px;
  background-color: rgba(156, 111, 211, 0.5);
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  border-radius: 8px;

  h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 20px;
    font-weight: 400;
  }

  h2 {
    border-bottom: black solid 1px;
  }

  p, ul, ol {
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
  }

  p {
    padding: 20px 20px 0 20px;
  }

  ul, ol {
    margin: 20px 0 0 0;
  }

}

#wlu-feeds-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.wlu-news-feed {
  background-color: rgba(156, 111, 211, 0.5);
}

.wlu-event-feed {
  background-color: $purple;
  color: $yellow;

  h2 {
    border-bottom: solid $yellow 1px;
  }
}
