// Place all the styles related to the WaterlooCore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$purple: #330072;
$yellow: #FFCC00;
$black: #000000;

#uw-body {
  font-family: 'Helvetica Neue', sans-serif;

  h1 {
    font-weight: 300;
    margin-left: 20px;
  }

  img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-133px, -189px);
    z-index: -1;
  }

  div {
    height: 400px;
    width: 400px;
    background-color: lightpink;
    display: inline;
    float: left;
    margin-left: 20px;
  }
}

#uw-header {
  background-color: $black;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;

  img {
    padding: 10px 20px;
  }

  img:last-child {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 7em;
  }
}

#waterloo-nav {
  background-color: $black;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    display: inline-block;
    text-align: center;
  }

  li:hover {
    background-color: $yellow;

    a {
      color: $black;
    }
  }

  a {
    color: $yellow;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
}

.description {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: rgba(255,195,0,0.6);
  font-weight: 300;

  h2 {
    font-weight: 400;
  }

  small {
    font-style: italic;
    font-size: .7em;
  }
}
