// Place all the styles related to the WaterlooCore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$purple: #330072;
$yellow: #FFCC00;
$black: #000000;

#uw-body {
  font-family: 'Helvetica Neue', sans-serif;

  h1 {
    font-weight: 300;
    margin-left: 20px;
  }

  img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-133px, -189px);
    z-index: -1;
  }
}

#uw-header {
  background-color: $black;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;

  img {
    padding: 10px 20px;
  }

  img:last-child {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 7em;
  }
}

#waterloo-nav {
  background-color: $black;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    display: inline-block;
    text-align: center;
  }

  li:hover {
    background-color: $yellow;

    a, i {
      color: $black;
    }
  }

  a {
    color: $yellow;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }

  i {
    color: $yellow;
  }
}

.description-uw {
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(255,195,0,0.5);
  font-weight: 300;

  h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 20px;
    font-weight: 400;
  }

  h2 {
    border-bottom: black solid 1px;
  }

  p, ul, ol {
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
  }

  p {
    padding: 20px 20px 0 20px;
  }

  ul, ol {
    margin: 20px 0 0 0;
  }

  small {
    font-style: italic;
    font-size: .7em;
  }
}

.section-uw {
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
  margin: 10px 15px 0 15px;

  h1, h2, h3, h4, h5, h6 {
    color: white;
    padding-bottom: 0;
  }

  h4:last-child {
    padding-bottom: 20px;
  }

  p, ul, ol {
    color: white;
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
  }

  p {
    padding: 20px 20px 0 20px;

    &:last-child {
      padding-bottom: 20px;
    }
  }

  ul, ol {
    margin: 20px 0 0 0;

    &:last-child {
      padding-bottom: 20px;
    }
  }
}
