<header id="wlu-header">
  <img src="/wlu-text.png" alt="WLUSSA text">
  <nav id="laurier-nav">
    <ul>
      <li><%= link_to "Home", wlu_home_path %></li>
      <li><%= link_to "Constitution", wlu_constitution_path %></li>
      <li>
        <a href="mailto:wluserbian@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/wluserbianstudentassociation/">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/wluserbassoc">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
      </li>
      <li><%= link_to "UWaterloo SSA", uw_home_path %></li>
    </ul>
  </nav>
</header>
