<%= render "header" %>

<article id="wlu-body">
  <img src="/purpleserbianeagle.png" alt="serbian coat of arms as the background">
  <h1>About Us</h1>
  <section id="person">
    <div id="picture">person's picture goes here.</div>
    <div id="text">text goes here.</div>
  </section>
</article>
