<%= render "header" %>

<article id="wlu-body">
  <img src="/purpleserbianeagle.png" alt="serbian coat of arms as the background">
  <h1>Constitution</h1>
  <div id="constitution-text">text goes here.</div>
</article>
