<%= render "header" %>

<article id="wlu-body">
  <img src="/purpleserbianeagle.png" alt="the club's logo as the background">
  <h1>The Constitution</h1>
  <section class="section-wlu">
    <h2>Name</h2>
    <p>The club’s official name will be “WLU Serbian Student Association”.  The
      abbreviation will be “WLUSSA”. No other names will be used in the advertisement
      or representation of the club.</p>

    <h2>Purpose of Club</h2>
    <ul>
      <li>To provide a channel of communication between WLU students of Serbian
        background as well as anyone else interested in Serbian culture and tradition.</li>
      <li>To provide new WLU students of Serbian background with academic and
        non-academic forms of help and assist them with engaging in university activities.</li>
      <li>To initiate and support academic, social and athletic activities
        within Wilfrid Laurier University.</li>
      <li>To promote respect and mutual understanding within the multicultural
        environment of WLU.</li></ul>

    <h2>Membership</h2>
    <ul>
      <li>Membership is open to all undergraduate and graduate students at WLU.</li>
      <li>Only undergraduate and graduate students at WLU are eligible to hold
        voting privileges and executive positions</li>
      <li>Voting membership will be open to all undergraduate and graduate students
        of Wilfrid Laurier University, both registered and on work-term. Associate
        membership is open to alumni, faculty and staff members.</li></ul>

    <h2>Executive</h2>
    <p>The executive committee shall consist of:</p>
    <ol type="a">
      <li>President</li>
      <li>Vice President</li>
      <li>Finance Executive</li>
      <li>Event Coordinator</li>
      <li>Communications Coordinator</li>
      <li>Treasurer</li>
      <li>Secretary</li>
    </ol>
    <p>*Or as otherwise determined by the President</p>

    <h2>Duties of the Executive Committee</h2>
    <p>1. President</p>
    <p>Ensure events are held, promote the club, create an agenda and act as the
      chair over the club meetings. The President shall, with the assistance of
      the Vice-President, be responsible for all Club/Faculty relations, Club/Student
      relations and most importantly relations with the WLU Students’ Union.</p>
    <p>2. Vice President</p>
    <p>Assist the president in all duties, to act as one of the two signing authorities,
      to ensure that all club activities and promotions conform to the club’s policies,
      and take over president’s role in president’s absence. The Vice-President shall,
      with the assistance of the President, be responsible for all Club/Faculty relations,
      Club/Student relations and most importantly relations with the WLU Students’ Union.</p>
    <p>3. Finance Executive</p>
    <p>Responsible for the financial matters of the club (in correspondence with
      the WLU Students’ Union); in particular, act as one of the two signing authorities,
      and maintain an accurate record of all financial transactions.</p>
    <p>4. Event Coordinator</p>
    <p>Duties are to oversee and guide organization of all of the club events.</p>
    <p>5. Communications Coordinator</p>
    <p>Duties are to guide the formation of promotional material for the club events.
      In addition, the duties include organization of on-line communications of the club
      members; specifically, maintenance of the club’s email list, and distribution of
      the club’s announcements.</p>
    <p>6. Treasurer</p>
    <p>Assist with the financial matters of the club; in particular, aid the
      Finance Executive in maintaining an accurate record of all financial transactions
    <p>7. Secretary</p>
    <p>Ensure that clear and precise minutes are kept from all of the club meetings,
      if decided on doing so prior to the meeting. Act as a medium of communication
      between all other club executives and general members.</p>

    <h2>Finances</h2>
    <p>Reimbursement forms and receipts will be collected after every event that
      requires any sort of expense. Such events will first be brought to the attention
      of the WLU Students’ Union to seek approval, and will only go forth if approval
      is granted. Collecting these forms will be the responsibility of the executive
      committee, namely the Finance Executive. Expenses will be approved only if the
      WLU Student’s Union gives approval, and will be brought to the Union by the
      executive committee, namely the President and Vice President.</p>

    <h2>Meetings</h2>
    <ul>
      <li>At least one general meeting must be held per term</li>
      <li>Members will be informed of these meetings at least 7 days in advance.
        Meetings will be aimed to be held at least once every second week</li>
    </ul>

    <h2>Succession</h2>
    <p>The succeeding President, Vice President, Finance Executive and other
      desired Executive members will be appointed by the current President in
      their last term at WLU.</p>

    <h2>Amendments</h2>
    <ul>
      <li>Amendments to the constitution must be both passed with two-thirds (2/3)
      majority with half (1/2) of the voting members present, and approved by the President</li>
      <li>Amendments to the constitution must be approved by the VP: Clubs and Associations</li>
      <li>Any full member can submit a proposal for an amendment to the constitution at any general meeting</li>
    </ul>

    <h2>Removal of Members and Executive</h2>
    <p>A club executive/member may be automatically removed under the following
      conditions, if approved by the President:</p>
    <ol type="a">
      <li>Theft, fraud and/or embezzlement of funds</li>
      <li>Behavior inconsistent with the Code of Conduct of Students as described
        in the University Undergraduate Calendar</li>
      <li>Inappropriate behaviour or actions in relation to their position in the Club</li>
    </ol>
    <p>If a club executive/member breaches Club policy by acting in a manner
      that is not consistent with upholding the dignity of the constitution or
      chooses to misrepresent the Club by acting in ways that degrade fellow
      Club members or WLU students, staff, faculty, as well as any other public
      citizens, they may be brought to the attention of the President who will make
      the decision to remove, or warn the party.</p>
  </section>
</article>
