<%= render "header" %>

<article id="wlu-body">
  <img src="/purpleserbianeagle.png" alt="serbian coat of arms as the background">
  <h1>Contact Us</h1>
  <div id="contact-details">contact text goes here.</div>
</article>
