<%= render "header" %>

<article id="wlu-body">
  <img src="/purpleserbianeagle.png" alt="the club's logo as the background">
  <h1>Welcome to the Wilfrid Laurier University Serbian Student Association!</h1>
  <div id="wlu-feeds-main-container">
    <section class="news-feed wlu-news-feed">
      <h2>Feed</h2>
      <article class="post wlu-post">
        <div class="post-intro wlu-post-intro">
          <h3>Greetings!</h3>
          <h3>September XX, 2017</h3>
        </div>
        <div class="post-body wlu-post-body">
          <p>Welcome to the Wilfrid Laurier University Serbian Club's website! Here you
             will find lots of information on meetings, events, club members,
             special offers and more! We look forward to a great year with everyone!</p>
        </div>
        <div class="post-footer wlu-post-footer">
          <p>Ilija Milisav, Lead Web Developer</p>
        </div>
      </article>
    </section>

    <aside class="event-feed wlu-event-feed">
      <div id="event-feed-events">
        <h2>Upcoming Events</h2>
        <article class="event wlu-event">
          <p>No upcoming events</p>
        </article>
      </div>

      <div id="event-feed-mission">
        <h2>Our Mission</h2>
        <p>WLUSSA's mission is to promote the Serbian culture to the Wilfrid Laurier
           students, staff, faculty and members of the WLU community at large.</p>
        <p>We will do this by providing many opportunities for social interaction between
           the university community and the club such as social events, guest speakers,
           activities and/or initatives.</p>
        <p>The most important is to allow students to create strong, long-lasting friendships
           with people of similar interests.</p>
      </div>
    </aside>
  </div>
</article>
