<%= render "header" %>

<article id="wlu-body">
  <img src="/purpleserbianeagle.png" alt="the club's logo as the background">
  <h1>Welcome to the Wilfrid Laurier University Serbian Student Association!</h1>
  <div id="news-feed">news feed goes here.</div>
</article>
